.header {
   background: $headerColor;
} 
.header {

   &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 90px;

      @media (max-width: $breakpoint930) {
         height: 70px;
      }
   }

   &__logo{
      transition: all .5s ease-in;

      svg:hover > path{
         fill: $hoverColor;
      }
   }

   &__nav{
      display: flex;
      align-items: center;
      color: $primery;
   }

   &__item{
      margin-left: 32px;
      &:hover {
         color: $hoverColor;
      }

      @media (max-width: $breakpoint930) {
         margin-left: 15px;
      }
   }

   &__links {    
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      transition: .5s ease;
   }

   &__btn {
      color: #000000;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.4px;
      background: #fff;
      padding: 13px 20px;
      border-radius: 14px;
      transition: .5s ease;

      &:hover {
         background: $hoverColor;
         color: #000000;
      }
      
      @media (max-width: $breakpoint930) {
         padding: 10px 15px;
      }
   }
}