// Breakpoint & Container
$containerWidth: 1200 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint930: 929.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;
$breakpoint350: 349.98 + px;

// Colors
$headerColor: #181818;
$primery: #FFF;
$secondary: #C0C0C0;
$bgColor: #000;
$hoverColor: #309caf;