// Default
@import "_reset.scss";
@import "_var.scss";

// Font
@import "_fonts.scss";

//Block
@import "_header.scss";
@import "_burger-menu.scss";

@import "_facial.scss";
@import "_about.scss";
@import "_review.scss";
@import "_instruments.scss";
@import "_clients.scss";
@import "_helps.scss";

@import "_footer.scss";

body {
   font-family: 'Poppins';
}

.container {
   max-width: $containerWidth;
   margin: 0 auto;
   padding: 0 20px;
   color: $primery;
}

// Стили для обозначения локации
.inform-position {
   position: relative;
}
.inform {
   position: absolute;
   right: 40px;
   bottom: 40px;
   display: flex;
   gap: 16px;
   @media (max-width: $breakpoint930) {
      z-index: 4;
   }
   @media (max-width: $breakpoint480) {
      right: 20px;
   }

   &__item {
      display: flex;
      align-items: start;
      gap: 6px;
   }
   &__text {
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      color: $primery;
   }
}
// -------------------

// Стили заголовка
.title {
   font-weight: 400;
   font-size: 40px;
   line-height: 42px;
   text-align: center;
   margin-bottom: 15px;

   color: $primery;
}
.subtitle {
   font-weight: 400;
   font-size: 23px;
   line-height: 30px;
   text-align: center;

   color: $secondary;
}
// -------------------

// Стили для ссылки
.general-link {
   position: relative;
   font-weight: 400;
   font-size: 15px;
   line-height: 20px;
   letter-spacing: 0.4px;
   padding: 9px 10px 9px 42px;
   background: #fff;
   border-radius: 14px;
   transition: all .5s ease;

   color: #000000;
   
   &::before {
      position: absolute;
      top: 3px;
      left: 3px;
      content: '';
      width: 32px;
      height: 32px;
      background: #000;
      border-radius: 14px;
   }

   &:hover {
      background: $hoverColor;
   }
}
// -------------------